<h1 class="mb-3">All Ideas</h1>

<div id="btn-success">
  <form action="/ideas/ideas_on_mentioned_date" method="get">
    <input type="submit" value="Ideas of the day" class="btn btn-secondary mb-4">
  </form>
</div>

{{#each ideas}}
<div class="card card-body mb-2">
  <p>{{idea}}</p>
  <p class="ml-auto">
    <strong>Posted By: </strong>
    <a href="/ideas/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
    <div class="ml-auto">
      <p>
        <strong>Created On: </strong>
        <span>{{formatDate date 'MMMM Do YYYY'}}</span>
      </p>
    </div>
  </p>
</div>
{{else}}
<p>No Ideas Listed</p>
{{/each}}
<br>
<input type="submit" value="Export to pdf" class="btn btn-primary mb-4" onclick="{{PDFgenerator ideas}}">