<h1>Today's Ideas</h1>

{{#each ideas}}
<div class="card card-body mb-2">
  <p>{{idea}}</p>
  <p class="ml-auto">
    <strong>Posted By: </strong>
    <a href="/ideas/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
    <div class="ml-auto">
      <p>
        <strong>Created On: </strong>
        <span>{{formatDate idea.date 'MMMM Do YYYY'}}</span>
      </p>
    </div>
  </p>
</div>
{{else}}
<p>No Ideas Listed</p>
{{/each}}